.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-container {
    max-width: 1375px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.footer-info p {
    margin: 5px 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to full viewport height */
    position: relative; /* Add position relative */
}

.content {
    flex: 1; /* Allow content area to expand and fill remaining space */
}
