/*Meeting.css*/

.meeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.meeting-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    max-width: 740px;
    height: auto;
    max-height: 100%;
    object-fit: contain; /* or use 'cover' depending on your preference */
    border-radius: 8px;
    overflow: hidden;
}

.username-text {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: #ffffff;
    background-color: #004d49;
    border-radius: 8px;
}

.meeting-controls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.meeting-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meeting-btn:hover {
    background-color: #0056b3;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-primary {
    background-color: #068466 !important;
}

.bg-black {
    background-color: #000 !important;
}

.end-call:hover  {
    background-color: #c20000;
}

.text-center{
    text-align: center !important;
}

.camera-off {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.camera-off img {
    max-width: 100%;
    max-height: 100%;
}


