.report-container {
    max-width: 800px;
    margin: 6% auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.report-title {
    color: #068466;
    text-align: center;
}

.report-content {
    margin-top: 20px;
}

.info {
    margin-bottom: 20px;
}

.info-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.date-time {
    margin-left: 20%;
    font-size: 18px;
}

.info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.conclusion p {
    font-size: 18px;
    margin-bottom: 10px;
}

.conclusion .text {
    margin-left: 3%;
}

.error-message {
    color: #ff1c1c;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.loading {
    text-align: center;
    margin-top: 20px;
}

.editable-text {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
}

.update-form {
    margin-top: 20px;
    text-align: center;
}

.update-form button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #068466;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-form button:hover {
    background-color: #046c57;
}
