.appointment-container {
    max-width: 800px;
    margin: 6% auto 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow to the section */
    border-radius: 10px; /* Add rounded corners */
}


.appointment-title {
    color: #068466;
}

.appointment-list {
    list-style-type: none;
    padding: 0;

}

.appointment-item {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ccc; /* Добавляем рамку */
}

.appointment-info {
    margin-bottom: 10px;
}

.appointment-button {
    background-color: #068466;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.appointment-button:hover {
    background-color: #004d49;
}

/* Добавляем стили для span */
.appointment-info span {
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
}

/* Стили для Link из react-router-dom */
.appointment-info a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #151414; /* Цвет ссылки */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.appointment-info a:hover {
    color: #007bff; /* Цвет ссылки при наведении */
}
