/* Meeting container and general styles */
.meeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
}

.meeting-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 100%;
    max-width: 740px;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 8px;
    overflow: hidden;
}

.username-text {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    color: #ffffff;
    background-color: #004d49;
    border-radius: 8px;
    text-align: center;
}

.meeting-controls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.meeting-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meeting-btn:hover {
    background-color: #0056b3;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-primary {
    background-color: #068466 !important;
}

.bg-black {
    background-color: #000 !important;
}

.end-call:hover {
    background-color: #c20000;
}

.text-center {
    text-align: center !important;
}

.camera-off {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.camera-off img {
    max-width: 100%;
    max-height: 100%;
}

/* Notes container styles */
.notes-container {
    position: fixed;
    bottom: -100%; /* Start hidden below the viewport */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow to the notes section */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
    padding: 30px;
    transition: bottom 0.3s ease-in-out; /* Smooth transition */
    z-index: 1000; /* Ensure it appears above other content */
}

.notes-container.open {
    bottom: 0; /* Slide into view */
}

.meeting-notes {
    width: 100%;
    height: 200px; /* Bigger notes area */
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ccc; /* Border around the textarea */
    font-size: 16px; /* Bigger text */
    resize: none; /* Disable resizing */
}

.save-status {
    margin-top: 10px;
    font-size: 14px;
    color: green;
    text-align: center;
}

.save-btn-container {
    display: flex;
    justify-content: space-between;
}

.meeting-btn.save-notes,
.meeting-btn.hide-notes {
    width: calc(50% - 5px); /* Чтобы учесть отступ между кнопками */
    background-color: #068466;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.meeting-btn.save-notes:hover,
.meeting-btn.hide-notes:hover {
    background-color: #004d49;
}
