/* Update the footer CSS */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative; /* Change position to relative */
    bottom: 0;
    margin-top: 20px; /* Add margin-top to create space between content and footer */
}


.footer-container {
    max-width: 1375px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.footer-info p {
    margin: 5px 0;
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh; /* Set minimum height to full viewport height */
}

.content {
    flex: 1; /* Allow content area to expand and fill remaining space */
    padding-bottom: 100px; /* Adjust as needed to create spacing between content and footer */
}
