.doctor-profile {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.profile-header {
    display: flex;
    align-items: center;
}

.doctor-photo {
    width: 220px;
    height: 220px;
    margin-top: -10px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 3px;
}

.profile-info {
    flex-grow: 1;
}

.profile{
    padding: 16px;
}

.profile-info h1 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: -50px;
}

.profile-info h6 {
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.work-experience {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.doctor-card {
    margin-top: 20px;
}

.doctor-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.doctor-card h6 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-bottom: 1px solid #ccc; /* Add a bottom border to each h6 */
    padding-bottom: 5px; /* Optional: Add padding to separate the text from the border */
}
.doctor-card p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 22px;
    margin-right: 12px;
}
