/* HomePage.css */
.home-page {
    color: #ffffff;
    margin: 0 auto; /* Center align */
}

.home-header {
    background-color: #068466;
    padding: 20px;
    text-align: center;
}

.home-section {
    max-width: 1300px;
    margin: 0 auto; /* Center align */
}

.home-section h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* darker text color */
}

.home-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-content: center; /* Center align items */
}

.home-card {
    width: 100%; /* Adjust width to fit grid */
    padding: 10px;
    margin-top: 10px;
    background-color: #004d49; /* lighter background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* Change cursor to pointer */
}

.home-card:hover {
    transform: translateY(-8px); /* slightly smaller hover effect */
}

.home-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-card p {
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
}
.home-card:hover p {
    color: #83fcf7;
}

.home-problem-section {
    max-width: 1300px;
    margin: 0 auto; /* Center align */

}

.home-problem-section h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* darker text color */
}


.home-problem-card {
    margin-top: 10px;
    margin-bottom: 80px;
    width: 400px; /* Adjust width to fit grid */
    background-color: #004d49; /* lighter background color */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* Change cursor to pointer */
    margin-left: 15px;
    justify-content: center; /* Center horizontally */
}

.home-problem-card:hover {
    transform: translateY(-3px); /* slightly smaller hover effect */
}

.home-problem-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-problem-card p {
    margin-top: 10px;
    text-align: center;
    color: #ffffff; /* darker text color */
}

.home-problem-card:hover p {
    color: #83fcf7; /* darker text color */
}

.carousel .control-dots .dot {
    background-color: #068466; /* Change to your desired color */
}

.carousel .control-dots .dot.selected {
    background-color: #004d49; /* Change to your desired color */
}


/* Center the forward and back buttons of the carousel */
.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
    top: 90%; /* Position the buttons vertically at the center */
    transform: translateY(-50%); /* Adjust the vertical position */
    background-color: #004d49 !important; /* Set the color of the arrows */
    border-radius: 50%; /* Make the arrows round */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Optionally, you can adjust the size of the arrows */
.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
    font-size: 24px; /* Adjust the size of the arrows */
    color: #ffffff; /* Set the color of the arrows */
}

/* Optionally, you can add hover effects to the arrows */
.carousel .control-prev.control-arrow:hover,
.carousel .control-next.control-arrow:hover {
    background-color: #00595b !important; /* Change background color on hover */
}
