.home-big-text {
    font-size: 60px;
    animation: slideInFromBottom 1.5s ease-in-out;
    color: #00addc;
}

.home-big-text-2 {
    font-size: 60px;
    font-weight: bold;
    animation: slideInFromBottom 1.5s ease-in-out;
    color: #068466;
    margin-bottom: 2.5%;
}

.home-small-text {
    font-weight: bold;
    font-size: 25px;
    animation: slideInFromBottom 1.5s ease-in-out;
    color: #00aedd;
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.home-greeting {
    background-image: url('../media_photo/home_page_background.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10% 0 15% 45%;
    color: #135441;
    height: 550px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: center; /* Vertically center content */
}

.home-box {
    max-width: 1380px;
    margin: 0 auto; /* Center align */
    padding: 20px; /* Add padding for better spacing */
    background-color: #fff; /* Add background color to make shadows visible */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow to the section */
    border-radius: 10px; /* Add rounded corners */

}

.home-section {
    max-width: 1300px;
    margin: 0 auto; /* Center align */
}

.home-section h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* darker text color */
}

.home-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-content: center; /* Center align items */
}

.home-card {
    width: 100%; /* Adjust width to fit grid */
    padding: 15px;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* Change cursor to pointer */
}


.home-card:hover {
    transform: translateY(-8px); /* slightly smaller hover effect */
}

.home-card p {
    font-size: 18px;
}
.home-card .home-card-description {
    font-size: 14px;
    color: #333333;
}

.home-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-card p {
    margin-top: 10px;
    text-align: center;
    color:  var(--primary-color);
    font-weight: bold;
}


.home-problem-section {
    max-width: 1300px;
    margin: 0 auto; /* Center align */

}

.home-problem-section h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* darker text color */
}


.home-problem-card {
    margin-top: 10px;
    margin-bottom: 80px;
    width: 400px; /* Adjust width to fit grid */
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* Change cursor to pointer */
    margin-left: 15px;
    justify-content: center; /* Center horizontally */
}

.home-problem-card:hover {
    transform: translateY(-8px); /* slightly smaller hover effect */
}

.home-problem-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.home-problem-card p {
    margin-top: 10px;
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

.carousel .control-dots .dot {
    background-color: #068466; /* Change to your desired color */
}

.carousel .control-dots .dot.selected {
    background-color: #004d49; /* Change to your desired color */
}


/* Center the forward and back buttons of the carousel */
.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
    top: 90%; /* Position the buttons vertically at the center */
    transform: translateY(-50%); /* Adjust the vertical position */
    background-color: #068466 !important; /* Set the color of the arrows */
    border-radius: 50%; /* Make the arrows round */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Optionally, you can adjust the size of the arrows */
.carousel .control-prev.control-arrow:before,
.carousel .control-next.control-arrow:before {
    font-size: 24px; /* Adjust the size of the arrows */
    color: #ffffff; /* Set the color of the arrows */
}

/* Optionally, you can add hover effects to the arrows */
.carousel .control-prev.control-arrow:hover,
.carousel .control-next.control-arrow:hover {
    background-color: #068466 !important; /* Change background color on hover */
}
