/* QualificationPage.css */

/* Colors */
:root {
    --primary-color: #007bff; /* Blue */
    --secondary-color: #0fa42e; /* Green */
}

.qualification-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.qualification-page h1 {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--primary-color); /* Add a line under the name */
    padding-bottom: 0.5rem; /* Add some space between the name and the line */
}

.qualification-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.qualification-card {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.qualification-card:hover {
    transform: translateY(-5px);
}

.qualification-card img {
    max-width: 100%;
    height: 250px; /* Adjust the height as needed */
    border-radius: 10px;
    object-fit: cover;
}

.qualification-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: var(--primary-color);
}

.qualification-card button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qualification-card button:hover {
    background-color: rgb(33, 134, 68); /* Darker shade of green */
}
