.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;

}

.password-reset-form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.password-reset-title {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.password-reset-group {
    margin-bottom: 20px;
    text-align: left;
}

.password-reset-label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

.password-reset-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    font-size: 16px;
}

.password-reset-alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    width: 100%;
}

.password-reset-alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.password-reset-alert-success {
    background-color: #d4edda;
    color: #155724;
}

.password-reset-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.password-reset-button:hover {
    background-color: var(--secondary-color);
}
