.form-container {
    padding-top: var(--navbar-height);
    max-width: 80%;
    margin: 0 auto; /* Center the form */
}

.form-group {
    margin-bottom: 15px;
}

.form-btn {
    margin-right: 10px;
}

.password-reset-alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    width: 100%;
}

.password-reset-alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.form-check-label {
    font-family: "Arial", sans-serif;
}

.welcome-text {
    color: var(--primary-color);
}

.form-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.transparent-bg {
    margin: 50px auto;
    padding: 22.5px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.4);
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-wrapper h2 {
    margin-bottom: 30px;
}

.left-align-label {
    text-align: left;
    width: 70%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form-group input {
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    color: black;
}

.reset-btn {
    margin-top: 4%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    position: relative;
}

.reset-btn:hover {
    background-color: var(--secondary-color);
}

.password-field {
    position: relative;
}

.password-input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    padding: 0;
}
