/* Container for the form */
.form-container {
    padding-top: var(--navbar-height);
    max-width: 80%;
    margin: 0 auto; /* Center the form */
}

/* General styling for form groups */
.form-group {
    margin-bottom: 15px;
    text-align: left; /* Align text to the left */
    width: 70%;
}

/* Label styling */
.form-group label {
    display: block; /* Make label a block element */
    margin-bottom: 5px; /* Space between label and input */
    color: black; /* Black text color */
}

/* Input styling */
.form-group input {
    border-radius: 8px; /* Rounded corners */
    border: 1px solid black; /* Black border */
    padding: 5px; /* Padding inside the input */
    color: black; /* Black text color */
}

/* Button for registration */
.registration-btn {
    margin-top: 4%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    position: relative; /* For pseudo-element positioning */
}

/* Hover effect for registration button */
.registration-btn:hover {
    background-color: var(--secondary-color); /* Background color on hover */
}

/* Pseudo-element for a black line */
.registration-btn::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 30%;
    height: 1px; /* Height of the line */
    background-color: grey; /* Line color */
}

.login-btn {
    margin: 4% 0 0 0; /* Reduced top and bottom margin for spacing */
}

/* Styling for text buttons */
.login-btn .text-button {
    color: black; /* Black text color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Pointer cursor */
    padding: 10px;
}

/* Hover effect for text buttons */
.login-btn .text-button:hover {
    color: #007bff; /* Change color on hover */
}


/* Form background styling */
.form-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    height: 100%;
    width: 100%;
}

/* Transparent background for the form */
.transparent-bg {
    margin: 50px auto;
    padding: 22.5px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.4); /* Shadow for depth */
}

/* Title wrapper styling */
.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Margin for the title */
.title-wrapper h2 {
    margin-bottom: 30px;
}

/* Positioning for the password field */
.password-field {
    position: relative;
}

/* Password input wrapper */
.password-input-wrapper {
    position: relative;
}

/* Password toggle button */
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    padding: 0;
}
