.doctor-form {
    background-image: url('../../media_photo/doctor-card-background.jpg');
    /*background-color: #0064e6;*/
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--navbar-height);
}

.create-doctor-card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Increase padding for more space */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Set a maximum width for the form */
    width: 100%; /* Ensure the form fills the available space */
    box-sizing: border-box;
    overflow: auto; /* Allow the form to scroll if content exceeds height */
    min-height: 400px; /* Set a minimum height for the form container */
}

.doctor-card-field {
    display: block;
    margin-bottom: 20px;
}

.doctor-form label {
    display: block;
    margin-bottom: 5px;
}

.doctor-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.doctor-form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    margin-top: 20px;
    padding: 10px 0; /* Adjust vertical padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Stretch button across the width */
    box-sizing: border-box; /* Include padding in button width */
}

.doctor-form button[type="submit"]:hover {
    background-color: #45a049;
}
