/* Container Styles */
.doctor-profile {
    max-width: 90%;
    margin: 6% auto 0;
    display: flex;
    justify-content: space-between;
}

/* Profile Section Styles */
.profile {
    width: 60%; /* Decrease the width */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-left: 6%;
}
.profile-header {
    display: flex;
    align-items: center;
}

.doctor-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.profile h1 {
    font-size: 24px;
    margin: 0;
}

.profile h6 {
    font-size: 16px;
    margin: 5px 0;
}

.work-experience {
    font-size: 16px;
}

/* Doctor Card Styles */
.doctor-card {
    margin-top: 20px;
}

.doctor-card h2,
.doctor-card h6 {
    margin-left: 10px;
}

.doctor-card h6 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.doctor-card p {
    margin: 1% 0 0 1.5%;
}

/* Schedule Section Styles */
.schedule {
    width: 30%; /* Decrease the width */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-right: 3%;
}

.schedule h2,
.schedule h3 {
    margin-left: 10px;
}

.schedule h3 {
    font-size: 18px;
}

.schedule p {
    margin-left: 3.5%;
}

.time-buttons {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.time-button {
    margin: 0 10px 10px 0;
    padding: 8px 12px;
    border: 1px solid #002cff; /* changed border color to blue */
    border-radius: 5px;
    background-color: #002cff; /* changed background color to blue */
    color: white; /* changed text color to white */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-button:hover {
    background-color: #0000ff; /* slightly darker blue on hover */
}
