/* Container Styles */
.doctor-profile {
    max-width: 90%;
    margin: 6% auto 0;
    display: flex;
    justify-content: space-between;
}

/* Profile Section Styles */
.profile {
    width: 60%; /* Decrease the width */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-left: 6%;
}
.profile-header {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Push the button to the right */
    position: relative; /* Set position to relative */
}

.doctor-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
    margin-top: 4%;
}

.specialization,
.experience,
.rating {
    margin-bottom: 10px; /* Добавьте отступ между каждым элементом */
}

.profile h1 {
    font-size: 24px;
    margin: 0;
}

.profile h6 {
    font-size: 16px;
    margin: 5px 0;
}

.work-experience {
    font-size: 16px;
}

.doctor-rating {
    font-size: 16px;
}
/* Doctor Card Styles */
.doctor-card {
    margin-top: 20px;
}

.doctor-card h2,
.doctor-card h6 {
    margin-left: 10px;
}

.doctor-card h6 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.doctor-card p {
    margin: 1% 0 0 1.5%;
}

/* Schedule Section Styles */
.schedule {
    width: 30%; /* Decrease the width */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-right: 3%;
}

.schedule h2,
.schedule h3 {
    margin-left: 10px;
}

.schedule h3 {
    font-size: 18px;
}

.schedule p {
    margin-left: 3.5%;
}

.time-buttons {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.time-button {
    margin: 0 10px 10px 0;
    padding: 8px 12px;
    border: 1px solid #002cff; /* changed border color to blue */
    border-radius: 5px;
    background-color: #002cff; /* changed background color to blue */
    color: white; /* changed text color to white */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-button:hover {
    background-color: #0000ff; /* slightly darker blue on hover */
}
.evaluation-section {
    margin: 2% 0 0 1.5%;
}

.evaluation-section p {
    margin: 1% 0 0 0.5%;
}

.evaluation-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.evaluation-section form {
    margin-bottom: 20px;
}

.evaluation-section label {
    display: block;
    margin-bottom: 10px;
}

.evaluation-section select,
.evaluation-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.evaluation-section button[type="submit"] {
    background-color: #002cff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.evaluation-section button[type="submit"]:hover {
    background-color: #0000ff;
}

.all-evaluations {
    margin: 2% 0 0 1.5%;
}

.all-evaluations h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.all-evaluations ul {
    list-style: none;
    padding: 0;
}

.all-evaluations li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.all-evaluations li p {
    margin: 0;
}

.rating-label {
    display: block;
    margin-bottom: 10px;
}

.rating-options {
    display: flex;
}

.option-container {
    display: flex;
    align-items: center;
}

.option-icon {
    display: flex;
    align-items: center;
    margin-right: 5px; /* Можно добавить отступ для иконки, если нужно */
}
.option-icon > svg {
    margin-left: 3px; /* Расстояние между числом и иконкой */
}

.rating-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Если нужно, можно добавить отступ между элементами */
}

.rating-option input {
    margin-right: 5px;
}

.reviews {
    margin-bottom: 10px;
    margin-top: 20px;
}


.favorite-button {
    margin: 3% 1.5% 0 0;
    position: absolute; /* Position the button absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
    font-size: 20px; /* Увеличьте размер кнопки по вашему усмотрению */
}

.favorite-button:hover {
    transform: scale(1.1); /* Увеличение размера кнопки при наведении */
}

/* Add styles for the tooltip */
.favorite-button::before {
    content: attr(data-title); /* Display the data-title attribute content */
    position: absolute; /* Position the tooltip */
    top: 100%; /* Position it below the button */
    left: 50%; /* Align it to the center of the button */
    transform: translateX(-50%); /* Center it horizontally */
    background-color: rgba(0, 0, 0, 0.8); /* Background color */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 12px; /* Font size */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: visibility 0s, opacity 0.3s ease; /* Smooth transition */
}

/* Show the tooltip on hover */
.favorite-button:hover::before {
    visibility: visible; /* Show the tooltip */
    opacity: 1; /* Make it fully visible */
}