.problem-page {
    max-width: 1200px;
    margin: 5% auto 0;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.problem-page h1 {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--primary-color); /* Add a line under the name */
    padding-bottom: 0.5rem; /* Add some space between the name and the line */
}

.problem-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-bottom: 3%;
}

.problem-card {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 17px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.problem-card:hover {
    transform: translateY(-5px);
}

.problem-card img {
    max-width: 100%;
    height: 250px; /* Adjust the height as needed */
    border-radius: 10px;
    object-fit: cover;
}

.problem-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: var(--primary-color);
}

.problem-card p {
    font-size: 16px;
    color: #484848;
}

.problem-card button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.problem-card button:hover {
    background-color: #004d49; /* Darker shade of green */
}
