/* General form container styles */
.doctor-form-container {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--navbar-height);

}

/* Form styles */
.doctor-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

/* Field styles */
.form-field {
    display: block;
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; /* Allows textarea to be resizable vertically */
}

/* Button styles */
.submit-button {
    background-color: var(--primary-color);
    color: white;
    margin-top: 20px;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: var(--secondary-color);
}

/* Loading state styles */
.loading {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}
